@{
}
@model List<Pacchetto>
<main>
    <div class="container">
        <div class="row justify-content-center mx-5">

            @if(Model.Count() == 0)
            {
                <h3>Mi dispiace non ci sono BoxViaggi!</h3>
            }
            else
            {
                @foreach(Pacchetto box in Model)
                {
                <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
                    <div class="card shadow mb-5 bg-body rounded justify-content-center" style="width: 24rem;">
                        <img src=@box.immagine  height="350" class="d-block w-100" alt="...">
                            <div class="card-body p-0 bg-opacity-50">
                                <h5 class="card-title bg-info text-white p-2">@box.titolo</h5>
                                    <p class="p-4"> 
                                        <b>@box.Prezzo €</b>
                                    </p>
                                <p>
                                <form action="@Url.Action("Elimina", "Viaggio", new {id= box.id})" method="post">
                                       @Html.AntiForgeryToken()
                                    <a type="button" href=@Url.Action("Dettagli", "Viaggio", new { id = box.id })  class="btn btn-info">Dettagli</a>     
                                        <button type="submit" class="btn btn-danger btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                        </button>
                                    <a type="button" href=@Url.Action("Modifica", "Viaggio", new { id = box.id })  class="btn btn-info">Modifica</a>

                                </form>
                                </p>
                            </div>
                    </div>
                </div>
                }
            }
        </div>
    </div>
</main>