<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="mt-3 mb-3">Lista pizze</h1>
                <div>
                    <input id="search_input" type="text" placeholder="Cerca per titolo...">
                </div>
            </div>
        </div>
    </div>
    <div id="post-wait" class="row js_wait_post text-center">
        <div class="col-12">
            <h3>Caricamento ...</h3>
        </div>
    </div>
    <div id="no-post-div" class="row js_no_post text-center d-none">
        <div class="col-12">
            <h3>Non hai inserito alcun post</h3>
        </div>
    </div>
    <div id="post-div" class="row js_post_cards d-none">
        <!-- qui verranno mostrati gli elementi -->
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        document.getElementById("search_input").addEventListener('keyup', searchItems);
        searchItems();
        function searchItems(){
            var inputText = document.getElementById('search_input').value;
            loadPosts(inputText);
        }
        function loadPosts(searchParameter){
            document.getElementById('post-div').innerHTML = '';
            axios.get('/api/Box/Get', {       
                params : {
                    cerca : searchParameter
                }
            }).then((result) => {
                // Codice che verrà eseguito quando arrivano i dati dalla mia web api
                console.log("Ho ricevuto i miei post, evviva!");
                if(result.data.length == 0){
                    document.getElementById('post-wait').classList.add('d-none');
                    document.getElementById('no-post-div').classList.remove('d-none');
                } else {
                    document.getElementById('no-post-div').classList.add('d-none');
                    document.getElementById('post-wait').classList.add('d-none');
                    document.getElementById('post-div').classList.remove('d-none');
                    result.data.forEach(viaggi => {
                        document.getElementById('post-div').innerHTML += 
                            `
                            <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
                                <div class="card shadow mb-5 bg-body rounded justify-content-center" style="width: 24rem;">
                                    <img src=${viaggi.immagine}  height="350" class="d-block w-100" alt="...">
                                        <div class="card-body p-0 bg-opacity-50">
                                            <h5 class="card-title bg-info text-white p-2">${viaggi.titolo}</h5>
                                                <p class="p-4"> 
                                                    <b>${viaggi.prezzo} €</b>
                                                </p>
                                        </div>
                                </div>
                            </div>
                            `
                    });
                }
            }
            ).catch((error) => {
                console.log("C'è stato un errore: " + error);
            });
        }
    
    </script>

    }